.youtube, .instagram, .facebook {
    display: inline-block;
    padding: 0;
    margin-bottom: 0;
}

.youtube, .instagram {
    margin-right: 5%;
}

#episode4, #episode3 {
    text-align: center;
    padding: 0;
    margin-bottom: 0;
    width: 45vw;
}

.selected {
    display: none;
    position: relative;
    bottom: 10px;
    border-width: 2px;
    border-radius: 2px;
    border-color: #758184;
}

.navbar {
    position: relative;
}

.video {
    float: left;
    width: 45vw;
    height: 25vw;
    border-width: 4px;
    border-radius: 1.5px;
    border-color: #758184;
    border-style: solid;
    margin-right: 10px;
    margin-bottom: 6px;
}

.vid-panel {
    float: left;
}

.vid-panel ul {
    padding: 0;
    margin-bottom: 0;
    color: #f5cdaa;
}

.panel {
    margin-top: 15px;
}

.info {
    overflow: hidden;
}

.fb, .insta {
    display: none;
}