.youtube, .instagram, .facebook {
    display: inline-block;
    padding: 0;
    margin-bottom: 0;
}

.youtube, .instagram {
    margin-right: 5%;
}

#episode4 {
    text-align: center;
    padding: 0;
    margin-bottom: 0;
    width: 45vw;
}

.selected {
    display: none;
    position: relative;
    bottom: 10px;
}

.navbar {
    position: relative;
}

.video {
    width: 45vw;
    height: 25vw;
    border-width: 3.5px;
    border-radius: 1.5px;
    border-color: #758184;
    border-style: solid;
    margin-right: 10px;
}

.vid-panel {
    float: left;
}

.panel {
    margin-top: 15px;
}

.info {
    overflow: hidden;
}